/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
    min-height: 100vh;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    font-family: "Lota", sans-serif;
    overflow-x: hidden;
}

.header h1 {
    font-size: 35px;
      margin-top: 20px;
      margin-left: 40px;
  }
  
  .header p {
      font-size: 130%;
      margin-left: 50px;
  }

.start_game {
    position: relative;
    width: 90%;
    height: 480px;
    background: #d30707;
    color: white;
    margin-top: 110px;
    margin-left: 20px;
    opacity: 0;
    pointer-events: none;
}

.heading, .heading2 {
    margin-top: 30px;
    font-size: 25px;
}
.logo {
    width: 80%;
    height: 160px;
    margin-top: 40px;
    margin-left: 35px;
}

.start-btn {
    margin-left: 120px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background: #252525;
    color: #fff;
}

.game_info_list {
    position: absolute;
    width: 95%;
    height: 780px;
    background: #d30707;
    color: white;
    margin-top: 510px;
    margin-left: 195px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.game_info_list img {
    width: 30vh;
    margin-left: 56px;
    margin-top: 5px;
}

.game_info {
    padding: 2px;
    text-align: center;
    font-size: 15px;
    margin-top: 10%;
}

.game_info_list .buttons {
    margin-left: 20px;
    border-radius: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}

/* Hover button */
.buttons button.exit:hover {
    background: #d30707;
    color: #fff;
}

.buttons button.continue:hover {
    background: #08ac16;
    color: #fff;
}

/* Quiz box area */
.quiz_box {
    position: absolute;
    width: 95%;
    height: 630px;
    color: #fff;
    margin-top: 410px;
    margin-left: 190px;
    /*opacity: 0;
    pointer-events: none; */
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 70px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    background: rgb(238, 10, 10);
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0, 0.1);
    border: 1px solid #d30707;
}

.quiz_box header .title {
    font-size: 110%;
    font-weight: 600;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 129px;
    height: 47px;
    background: #fff;
    color: #252525;
    padding: 0 5px;
    border-radius: 5px;
}

.quiz_box header .timer .time_left {
    font-size: 110%;
    font-weight: 600;
    user-select: none;
    text-align: center;

}

.quiz_box header .timer .timer_sec {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: #d30707;
    color: #fff;
    width: 45px;
    height: 30px;
    border-radius: 3px;
}

/* End Time line */

/* Style Quiz questuin  and Answer section */
.quiz_box .que_ans{
    background: rgb(238, 10, 10);
    width: 90%;
    height: 520px;
    margin-left: 20px;
}

.quiz_box .que_ans .que_test {
    font-size: 18px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 2px;
}

.quiz_box .option_list {
    display: block;
    padding: 10px 0;
}

.que_ans .option_list .option {
    background-color: #fff;
    border: 1px solid #d30707;
    border-radius: 3px;
    color: #252525;
    font-weight: 600;
    padding: 8px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option_list .fa-check {
    color: #1b7004;
    font-size: 250%;
    font-weight: 700;
}

.option_list .fa-times {
    color: #d30707;
    font-size: 250%;
    font-weight: 900;
}

/* Style Quiz Footer */
.quiz_box section {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box section .total-question span {
    display: flex;
    user-select: none;
    margin-bottom: 120px;
}

section span {
    font-size: 20px;
    font-weight: 700;
    user-select: none;
    margin-top: 47px;
    margin-left: 30px;
}

.total-question p {
    margin-inline-end: 6px;
}

/* Next question button */
section button {
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 140px;
    width: 30%;
    height: 45px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

section button:hover{
    background: #d30707;
    color: #fff;
}

section .next_btn:hover {
    background: #29c41b;
}

/* Media query for tablets and larger (750 px and up) */
@media screen and (min-width: 750px) {
    .start_game {
        width: 70%;
        height: 580px;
        background: #d30707;
        color: white;
        margin-top: 110px;
        margin-left: 120px;
    }

    .heading {
        font-size: 40px;
    }

    .logo {
        width: 70%;
        height: 200px;
        margin-top: 40px;
        margin-left: 65px;
    }
    
    .start-btn {
        margin-left: 220px;
    }
}

/* Media query for tablets and larger (1200 px and up) */
@media screen and (min-width: 1200px) {
    .header h1 {
        margin-top: 20px;
        margin-left: 650px;
    }

    .start_game {
        width: 60vw;
        margin-left: 20%;
        margin-top: 40px;
    }

    .heading {
        font-size: 200%;
        margin-top: 70px;
    }
    
    .heading2 {
        margin-left: 230px;
    }

    .header p {
        font-size: 120%;
        margin-left: 690px;
    }
    
    .logo {
        width: 70%;
        height: 230px;
        margin-top: 70px;
        margin-left: 230px;
    }
    
    .start-btn{
        position: relative;
        margin-top: 70px;
        margin-left: 410px;
        width: 20%;
        height: 40px;
    }

    .game_info_list {
        width: 65%;
        height: 670px;
        margin-top: 459px;
        margin-left: 780px;
    }
    
    .game_info_list img {
        width: 30vh;
        margin-left: 410px;
        margin-top: 5px;
    }
    
    .game_info {
        font-size: 20px;
        margin: 30px;
        padding: 1px;
    }
    
    .game_info_list .buttons {
        margin-left: 80px;
    }

    /* Quiz section */
    .quiz_box {
        width: 80%;
        height: 800px;
        margin-left: 830px;
        margin-top: 510px;
    }

    .quiz_box header .title {
        font-size: 35px;
    }

    .quiz_box header .timer {
        margin-right: 180px;
    }

    .quiz_box .que_ans {
        height: 600px;
    }


    .total-question span {
        font-size: 39px;
    }

    .quiz_box section .total-question span {
        margin-bottom: 430px;
    }
    
    /* Next question button */
    section button {
        width: 20%;
        height: 50px;
        margin-right: 120px;
        margin-bottom: 430px;
    }
}